[*]

# Microsoft .NET properties
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

# ReSharper inspection severities
resharper_arrange_local_function_body_highlighting = suggestion
