{
  "streams": [
    {
    "name": "aac_lofi",
    "position": 9,
    "pending_extra_tags": [],
    "discontinuity_count": 0
  },
    {
    "name": "aac_midfi",
    "position": 9,
    "pending_extra_tags": [],
    "discontinuity_count": 0
  },
    {
    "name": "aac_hifi",
    "position": 9,
    "pending_extra_tags": [],
    "discontinuity_count": 0
  }
  ],
  "segments": {
    "aac_lofi": [
      {
      "id": 3,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_lofi_4_1790817802_3.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 51512 ]
    },
      {
      "id": 4,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_lofi_4_1790817806_4.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 47940 ]
    },
      {
      "id": 5,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_lofi_4_1790817810_5.ts",
      "extra_tags": [],
      "len": 175518,
      "last_segmentable_position": [ 175518, 48316 ]
    },
      {
      "id": 6,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_lofi_4_1790817814_6.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 49444 ]
    },
      {
      "id": 7,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_lofi_4_1790817818_7.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 49256 ]
    },
      {
      "id": 8,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_lofi_4_1790817818_8.ts",
      "extra_tags": [],
      "len": 0
    }
    ],
    "aac_midfi": [
      {
      "id": 3,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_midfi_4_1790817802_3.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 80840 ]
    },
      {
      "id": 4,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_midfi_4_1790817806_4.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 79712 ]
    },
      {
      "id": 5,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_midfi_4_1790817810_5.ts",
      "extra_tags": [],
      "len": 175518,
      "last_segmentable_position": [ 175518, 79524 ]
    },
      {
      "id": 6,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_midfi_4_1790817814_6.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 80464 ]
    },
      {
      "id": 7,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_midfi_4_1790817818_7.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 80652 ]
    },
      {
      "id": 8,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_midfi_4_1790817818_8.ts",
      "extra_tags": [],
      "len": 0
    }
    ],
    "aac_hifi": [
      {
      "id": 3,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_hifi_4_1790817802_3.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 140812 ]
    },
      {
      "id": 4,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_hifi_4_1790817806_4.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 140436 ]
    },
      {
      "id": 5,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_hifi_4_1790817810_5.ts",
      "extra_tags": [],
      "len": 175518,
      "last_segmentable_position": [ 175518, 140248 ]
    },
      {
      "id": 6,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_hifi_4_1790817814_6.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 140436 ]
    },
      {
      "id": 7,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_hifi_4_1790817818_7.ts",
      "extra_tags": [],
      "len": 176400,
      "last_segmentable_position": [ 176400, 138556 ]
    },
      {
      "id": 8,
      "discontinuous": false,
      "current_discontinuity": 0,
      "filename": "/var/azuracast/stations/low_pressure_zone_dev/hls/aac_hifi_4_1790817818_8.ts",
      "extra_tags": [],
      "len": 0
    }
    ]
  }
}