@use 'styles/variables.scss';
@use 'styles/forms.scss';
@use 'styles/layouts.scss';
@use 'styles/primevueOverrides.scss';

@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'Nunito Sans';
  font-stretch: 100%; /* Note that font-stretch is a % of normal width */
  font-style: normal; /* See note below */
  font-weight: 400;
  src: url('fonts/Nunito_Sans.woff2') format('woff2');
}

body {
  margin: 0;
  overflow: hidden;
  background-image: url(./bg-invert.jpg);
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: 'Helvetica Neue', sans-serif;
}

body.dark-mode-toggle {
  background-image: url(./bg.jpg);
}

.header {
  font-family: variables.$font-family-header;
}

@media screen and (max-width: variables.$mobile-transition-width) {
  .app {
    overflow-x: hidden;
  }
}

p {
  font-size: 0.9rem;
}

.desktop-only {
  @include variables.mobile {
    display: none;
  }
}

.text-s {
  font-size: small;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
