@use 'variables';

.flex-variable-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 variables.$space-m;

  &__left,
  &__right {
    &--variable-height {
      height: fit-content;
    }

    &--full-width {
      width: 100%;
    }
  }

  div.p-menu {
    border: none;
  }

  &__left {
    @include variables.desktop {
      min-width: 30%;
      position: sticky;
      top: variables.$header-height;
    }
  }

  &__right {
    margin-left: variables.$space-m;
  }

  @include variables.mobile {
    flex-direction: column;
    justify-content: start;
    height: fit-content;

    &__left {
      width: variables.$mobile-element-width;
      margin-bottom: variables.$space-m;
    }

    &__right {
      margin-left: 0;
      width: variables.$mobile-element-width;
    }
  }
}
