@use 'variables.scss';

.input {
  margin: variables.$space-m variables.$space-s;
  height: fit-content;

  &--small.p-iftalabel {
    width: variables.$input-width-s;
    @include variables.mobile {
      width: 100%;
    }
  }
  &--medium.p-iftalabel {
    width: variables.$input-width-m;
    @include variables.mobile {
      width: 100%;
    }
  }
  &--large.p-iftalabel {
    width: variables.$input-width-l;
    @include variables.mobile {
      width: 100%;
    }
  }

  @include variables.mobile {
    width: 100%;
  }

  &__field {
    width: 100%;
  }
}

tbody.p-datatable-tbody tr > td.grid-action-col {
  width: 8.75rem;
  text-align: center;

  .grid-action-col__item {
    margin: 0 variables.$space-s;
  }
}
