@use 'variables.scss';

.input {
  margin: variables.$space-m variables.$space-s;
  height: fit-content;

  @include variables.mobile {
    margin: variables.$space-m 0;
  }

  &--small.p-iftalabel {
    width: variables.$input-width-s;
    @include variables.mobile {
      width: 100%;
    }
  }
  &--medium.p-iftalabel {
    width: variables.$input-width-m;
    @include variables.mobile {
      width: 100%;
    }
  }
  &--large.p-iftalabel {
    width: variables.$input-width-l;
    @include variables.mobile {
      width: 100%;
    }
  }
  &--xl.p-iftalabel {
    width: variables.$input-width-xl;
    @include variables.mobile {
      width: 100%;
    }
  }

  @include variables.mobile {
    width: 100%;
  }

  &__field {
    width: 100%;

    // This is needed to adjust the password input width
    input {
      width: 100%;
    }
  }
}

tbody.p-datatable-tbody tr > td.grid-action-col {
  text-align: center;
  &--1 {
    width: variables.$grid-action-width;
  }
  &--2 {
    width: calc(variables.$grid-action-width * 2);
  }
  &--3 {
    width: calc(variables.$grid-action-width * 3);
  }
}
