@use 'variables.scss';

.flex-variable-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 variables.$space-m;

  &__left,
  &__right {
    &--variable-height {
      height: fit-content;
    }

    &--full-width {
      width: 100%;
    }
  }

  &__left {
    @include variables.desktop {
      min-width: 30%;
    }
  }

  &__right {
    margin-left: variables.$space-m;
  }

  @include variables.mobile {
    flex-direction: column;
    justify-content: start;
    height: fit-content;

    &__left {
      width: variables.$mobile-element-width;
      margin-bottom: variables.$space-m;
    }

    &__right {
      margin-left: 0;
      width: variables.$mobile-element-width;
    }
  }
}

.desktop-inline {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include variables.mobile {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
}

.flex-split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.single-panel-center {
  margin: auto;
  margin-top: calc(min(20dvh));
  width: fit-content;

  &__message {
    width: variables.$input-width-m;
    margin: variables.$space-m;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__buttons {
      margin-top: variables.$space-m;
    }
  }

  &--no-header {
    .p-panel-header {
      display: none;
    }

    .p-panel-content {
      padding: 1.125rem;
    }
  }
}
