div.p-panel {
  border-style: none;
}

div.p-menu {
  border-style: none;
}

div.p-datepicker-minute-picker {
  button.p-button {
    display: none;
  }
}

th.p-datatable-column-sorted {
  background: var(--p-datatable-header-cell-background);
}
