@use 'variables';

tbody.p-datatable-tbody tr > td.grid-action-col {
  text-align: center;
  height: 40px;

  &--1 {
    width: variables.$grid-action-width;
  }

  &--2 {
    width: calc(#{variables.$grid-action-width} * 2);
  }

  &--3 {
    width: calc(#{variables.$grid-action-width} * 3);
  }
}

.checkbox-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: variables.$space-l;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: variables.$space-m;
  }
}
