$theme-color: rgb(45, 69, 94);
$theme-color-darker: rgb(28, 43, 59);
$theme-color-brighter: rgb(79, 121, 166);

$font-color: #eee;
$font-color-darker: #ccc;
$font-color-brighter: #fff;

$control-color: #eee;
$control-color-hover: darken($control-color, 20%);

$panel-background: $theme-color-darker;

$space-s: 5px;
$space-m: 10px;
$space-l: 20px;

$bg-1: url('./bg1.jpg');
$bg-2: url('./bg2.avif');
