services:
  postgres:
    image: postgres:latest
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: l0wpressure
      POSTGRES_DB: defaultdb  # Required by image, but we'll create our own databases in the init-db script
    ports:
      - "5432:5432"
    volumes:
      - lpz:/var/lib/postgresql
      - ./:/docker-entrypoint-initdb.d
    healthcheck:
      test: [
        "CMD-SHELL",
        "pg_isready -U postgres -d postgres || exit 1"
      ]
      interval: 10s
      timeout: 5s
      retries: 5
  
  pgadmin:
    image: elestio/pgadmin:latest
    container_name: pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_LISTEN_PORT: 5433
    ports:
      - "5433:5433"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  
  azuracast-0.23.2:
    container_name: azuracast-0.23.2
    image: "ghcr.io/azuracast/azuracast:0.23.2"
    labels:
      - "com.centurylinklabs.watchtower.scope=azuracast"
    ports:
      - '8147:80'
      - '8148:443'
      - '8149:2022'
      - '8005:8005'
      - '8025:8025'
      - '8030:8030'
    environment:
      LANG: en_US.UTF-8
      AZURACAST_DC_REVISION: 14
      AZURACAST_VERSION: latest
      AZURACAST_SFTP_PORT: 2022
      MARIADB_RANDOM_ROOT_PASSWORD: 1
      NGINX_TIMEOUT: 1800
      #LETSENCRYPT_HOST: ${LETSENCRYPT_HOST:-}
      #LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL:-}
      PUID: 1000
      PGID: 1000
    volumes:
      - azuracast-files:/var/azuracast
      - db_data:/var/lib/mysql
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    logging:
      options:
        max-size: "1m"
        max-file: "5"

  azuracast-updater:
    container_name: azuracast_updater
    image: ghcr.io/azuracast/updater:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      options:
        max-size: "1m"
        max-file: "5"
        
  icecast:
    container_name: icecast
    image: deepcomp/icecast2:2.4.4
    ports:
      - '8000:8000'
    volumes:
      - ./volumes/icecast2/icecast.xml:/etc/icecast2/icecast.xml
      - ./volumes/icecast2/log:/var/log/icecast2
      - ./volumes/icecast2/mime.types:/etc/mime.types

volumes:
  # LPZ app items
  lpz:
  pgadmin-data:
  # AzuraCast app items
  azuracast-files:
  db_data: