# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build Client

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: corepack enable
    - name: Use Node.js 24.x
      uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: 'yarn'
        cache-dependency-path: src/client/yarn.lock
        check-latest: true
    - run: yarn install --ignore-scripts
      working-directory: src/client
    - run: yarn build
      working-directory: src/client
    - run: yarn lint
      working-directory: src/client
    - run: yarn stylelint
      working-directory: src/client
